<nav class="navbar">
  <div class="container-nav">
    <a id="blog-title" class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <div class="navbar-links">
      <span class="nav-toggle" id="js-nav-toggle">
        <svg viewBox="0 0 100 80" width="20" height="20" fill="currentColor">
          <rect width="100" height="18" rx="8"></rect>
          <rect y="30" width="100" height="18" rx="8"></rect>
          <rect y="60" width="100" height="18" rx="8"></rect>
        </svg>
      </span>
      <div id="navbar-nav">
        <ul class="nav-list" id="js-menu">
          {% assign default_paths = site.pages | map: "path" %}
          {% assign page_paths = site.header_pages | default: default_paths %}
          {% if page_paths %}
            {% for path in page_paths %}
              {% assign my_page = site.pages | where: "path", path | first %}
              {% if my_page.title %}
                <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
              {% endif %}
            {% endfor %}
          {% endif %}
            <li><button id="theme-toggle" aria-label="Change theme" title="Change theme"></button></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div>
  <hr class="divider" aria-hidden="true">
</div>